@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

:root {
    --primary-color: #fa575a;
}



body  {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(248, 250, 252);
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


body h2 {
    font-size: 1rem;
    font-weight: 700;
    padding: 0 0 10px 20px;
}


.h1 {
    font-size: 1.2rem;
    text-align: center;
    padding: 20px;

}


.saving {
    padding: 0 0 10px 20px;
}


.box-saving {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 50px;
    flex-direction: row;
    justify-content: center;
    width: 350px;
    padding: 15px;
    background-color: white;

}

.box-saving h3 {
    font-size: 0.9rem;
}


.income, .expense {
    text-align: center;
    width: 50%;
    align-items: center;
}

.record {
    width: 350px;
    padding: 0 0 10px 20px;
}

.add-new-transaction {
    width: 350px;
    padding: 0 0 10px 20px;
}


.transactions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    padding: 15px;

}

.transactions label {
    margin-top: 20px;
    padding: 0 0 10px 20px;
}

.transactions input {
    padding: 10px;
}

.btn-submit {
    margin-top: 20px;
    font-size: 0.9rem;
    color: white;
    background-color: #fa575a;
    border: none;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.btn-submit:hover {
    background-color: #ca4446;
}