@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

:root {
    --primary-color: #fa575a;
}


body  {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(248, 250, 252);
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 350px;
}

body h2 {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
}


.h1 {
    font-size: 1.2rem;
    text-align: center;
    padding: 20px;
}


.saving {
    padding-bottom: 10px;
}


.box-saving {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 50px;
    flex-direction: row;
    justify-content: center;
    background-color: white;
}

.box-saving h3 {
    font-size: 0.9rem;
}


.income, .expense {
    text-align: center;
    width: 50%;
    align-items: center;
}

hr {
    border: rgb(223, 223, 223) solid 1px;
}


.record {
    padding-bottom: 10px;
}


.transactions {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.transactions label {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 0.8rem;
    font-weight: 600;
}

.transactions input {
    padding: 10px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    border: rgb(223, 223, 223) solid 1px;
    
}

.btn-submit {
    font-size: 1rem;
    color: white;
    font-weight: 500;
    background-color: #fa575a;
    border: none;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.btn-submit:hover {
    background-color: #ca4446;
}

